@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  /*regular*/
  font-size: 13px;
  line-height: 18px;
  color: #4a4a4a;
}

/*@media (min-width: 1280px) {
  .container {
    max-width: 1260px !important;
  }
}

@media (min-width: 1310px) {
  .container {
    width: 1280px !important;
  }
}*/
.video-wrap-img.modal-dialog {
  max-width: 690px !important;
}

.text-white {
  color: #fff !important;
}

.text-blue {
  color: #1588bf;
}

.bg-blue {
  background: #1588bf !important;
  color: #fff !important;
}

.w-200 {
  font-weight: 200 !important;
}

p,
ul {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  /*regular*/
  font-size: 13px;
  line-height: 18px;
  color: #4a4a4a;
}

.acl-container ul li {
  font-size: 17px;
  line-height: 22px;
  color: #626162;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 15px;
}

a {
  color: #333333;
}

a:hover {
  text-decoration: none;
  color: #0077b3;
}

.font-weight-bold,
strong,
.strong,
b {
  font-weight: 600 !important;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}

/* typography */

.menu-btn {
  cursor: pointer;
}

.logo {
  width: 100%;
  height: auto;
  transition: all 200ms ease-in-out;
}

.burger-wrap {
  display: none;
}

.search-wrap input {
  border: 0;
  border-bottom: 1px solid #d8d8d8;
  line-height: 20px;
  border-radius: 0;
  box-shadow: none !important;
}

.search-wrap input:focus {
  outline: none !important;
}

/*HEADER*/

.header .header-logo-img {
  max-width: 100%;
  width: 100%;
}

/*About Section*/

/* .about-wrapper {
  background-image: url("../../static/assets/girl-with-her-dog.png");
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 103%;
  background-size: 68vh;
} */

.about-first-section {
  padding-right: 2rem;
  margin-bottom: 3rem;
}

.about-first-section::after {
  content: " ";
  display: block;
  position: absolute;
  height: 50%;
  background: #dedede;
  width: 3px;
  left: 100%;
  bottom: calc(50% - 2px);
}

.about-second-section {
  padding-left: 2rem;
  margin-top: 0;
}

.about-section .about-second-section h4,
.acl-container h3,
.acl-container h4 {
  color: #1588bf;
}

.about-section .about-first-section h4 {
  color: #1588bf;
  margin-top: 4rem;
}

.about-section p,
.acl-container p {
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.65);
  margin-bottom: 2rem;
}

/* Acl Tears Page */
.acl-container .row {
  border-bottom: 3px solid #dedede;
}

.border-none {
  border-bottom: none !important;
}

.v-h {
  visibility: hidden !important;
}

.acl-container .row:last-child {
  border-bottom: none;
}

.acl-container h4 {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 0;
}

.acl-container button,
.acl-container a {
  background-color: #8cb5d4;
  color: #fff;
  border-radius: 0;
  font-size: 17px;
  font-weight: 700;
  line-height: 23px;
  padding: 5px 10px !important;
}

.acl-container button:hover,
.acl-container a:hover {
  background-color: #fff;
  color: #8cb5d4;
  border-radius: 0;
  border: 1px solid #8cb5d4;
}

.dog-acl {
  position: absolute;
  left: -6%;
  bottom: 5%;
}

.acl .inner-page-title {
  right: 45px;
  top: 40px;
}

.appointment-list li {
  list-style: decimal;
}

/*Hip*/

.hip .inner-page-title {
  width: 25%;
  text-align: left;
}

/*THR*/
.thr-hero .inner-page-title {
  left: 55%;
}

/*Docter*/

.doctor-video {
  padding: 20px;
  background: #2588bf;
}

.doctor-name {
  font-weight: 100;
  font-size: 52px;
}

.doc-name {
  font-weight: bold;
}

.doctor-position {
  font-size: 24px !important;
  margin-bottom: 2rem !important;
  font-weight: 200 !important;
}

.doctor-body .print-doc,
.acl-container .print-doc {
  background: none !important;
  border: none !important;
  padding: 0 !important;
}

.doctor-body .mail-doc,
.acl-container .mail-doc {
  background: none !important;
  border: none !important;
  padding: 0 !important;
}

.doctor-list {
  padding: 50px 0;
}

.doctor-list .doctor-image img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 3rem;
}

.doctor-rank {
  font-weight: 200 !important;
}

.doctor-p {
  font-size: 16px !important;
  font-weight: 200;
}

/*FOOTER*/

.consultation-f {
  position: relative;
  background: #2588bf;
}

.consultation-f p {
  font-size: 14px;
  line-height: 19px;
}

.contact-f,
.reviews-f,
.consultation-f,
.sub-footer {
  z-index: 1;
  position: relative;
}

.btt-btn a {
  background-color: #8cb5d4;
  font-weight: 700;
  color: #fff;
  border: none;
  padding: 10px !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 13px;
  text-transform: uppercase;
}

.btt-btn a {
  color: #fff;
}

.btt-btn a:hover {
  text-decoration: none;
  background-color: #e6e6e6;
  color: #8cb5d4;
}

footer.main-footer {
  background: #d8d8d8;
  position: relative;
}

.main-footer:after {
  content: "";
  width: 450px;
  height: 100%;
  position: absolute;
  right: 0;
  background: #2588bf;
  z-index: 0;
  top: 0;
}

.article #searhform {
  border: solid 2px #0077b3;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.article .article-submit-btn {
  padding: 7px 20px;
  text-transform: uppercase;
  background: #0077b3;
  color: #fff;
  border: none;
}

.article .article-submit-btn:hover {
  background: #333;
  color: #fff;
}

.article-body {
  padding: 80px 0;
}

.article-body a {
  color: #0077b3;
}

.article-body .category {
  margin-bottom: 4rem;
}

.article-body #categorylist_header_title {
  background: #0077b3;
}

.article-body #categorylist_header_title a {
  color: #fff;
}

.article-body #categorylist_header_author {
  background: #0077b3;
}

.article-body #categorylist_header_author a {
  color: #fff;
}

.article-body #categorylist_header_hits {
  background: #0077b3;
}

.article-body #categorylist_header_hits a {
  color: #fff;
}

.auxiliary-page ul li {
  list-style: none;
  font-size: 18px;
  padding-top: 5px;
  font-weight: 500;
  color: #fff;
  background: url(../images/dog-w.png) no-repeat !important;
  padding-left: 25px;
  background-position: 0 5px !important;
  background-repeat-y: no-repeat;
  padding-bottom: 15px;
  text-align: left;
}

/* Desktop only */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    /* Based sa ila width sa XD */
  }

  .consultation-f p {
    font-size: 17px;
    line-height: 23px;
  }

  .contact-f p {
    font-size: 16px;
    max-width: 400px;
    line-height: 22px;
  }

  .contact-f h3 {
    line-height: 27px;
  }

  .consultation-f {
    background: #2588bf;
    /*padding: 30px !important;*/
  }

  .consultation-f h3 {
    font-size: 30px !important;
    font-weight: 700;
  }

  button.btn-footer {
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
    padding: 5px !important;
  }

  .reviews-f span {
    /*font-size: 10px !important;*/
  }
}

@media (max-width: 320px) {
  .reviews-f span {
    /*font-size: 10px !important;*/
  }

  i.fa.fa-star {
    font-size: 10px;
  }

  .angies-review {
    position: relative;
    left: 6.3em;
  }

  .bbb-rating {
    position: relative;
    left: 2.2em;
  }
}

@media (max-width: 414px) {
  .reviews-f span {
    /*font-size: 10px !important;*/
  }

  i.fa.fa-star {
    font-size: 10px;
  }

  .angies-review {
    position: relative;
    left: 6.3em;
  }

  .bbb-rating {
    position: relative;
    left: 2.2em;
  }
}

.tooltip-wrap-menu-contact .tooltiptext,
.tooltip-wrap-menu .tooltiptext,
.tooltip-wrap .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: #d8d8d8;
  color: #4a4a4a;
  text-align: left;
  padding: 10px 15px !important;
  position: absolute;
  z-index: 1;
}

.reviews-list li img {
  margin-bottom: 0;
  margin-right: 0 !important;
}

.reviews-list li {
  border-bottom: 2px solid #707070;
  padding: 7px 0;
}

.reviews-list li:last-child img {
  width: 50px !important;
  margin-bottom: 10px;
}

.consult-img-cont {
  position: relative;
  border-radius: 100%;
  border: 2px solid #fff;
  text-align: center;
  width: 36px;
  height: 36px;
  line-height: 25px;
}

.consultation-f img {
  width: 20px;
  height: 20px;
  top: -8px;
  left: -8px;
  position: relative;
}

.reviews-f {
  /*padding: 40px 30px !important;*/
  background: #d8d8d8;
}

@media (max-width: 768px) {
  .reviews-f {
    background-color: #fff;
  }

  .dog-acl {
    position: relative;
    margin-top: 70px;
  }
}

.reviews-list img {
  width: 5em !important;
}

.contact-f {
  background: #d8d8d8;
  /*padding: 40px 30px 40px 15px !important;*/
  color: #626162 !important;
  padding-bottom: 15px !important;
}

.sub-footer {
  background: #626162;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
  font-size: 10px;
}

.sub-footer a {
  color: #ffffff;
}

.reviews-list li {
  margin: 10px 0;
}

.reviews-list li img {
  margin-bottom: 0;
  margin-right: 15px;
}

.reviews-list li span {
  margin-left: 10px;
}

.reviews-list li:last-child img {
  width: 50px;
}

.reviews-f h3 {
  font-size: 30px;
  font-weight: 600;
}

.reviews-f span {
  font-size: 13px;
}

.reviews-f {
  color: #626162;
}

.contact-f p,
.contact-f a {
  color: #626162;
}

/* .star-value {
  position: absolute;
  left: 23px;
  top: -18px;
} */

.review-f-heading img {
  margin-top: -8px;
}

/*Tooltip*/
.tooltip-wrap {
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index: 10;
  /* border-bottom: 1px dotted black; */
}

.tooltip-wrap-menu {
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index: 9;
  /* border-bottom: 1px dotted black; */
}

.tooltip-wrap-menu-contact {
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index: 9;
  /* border-bottom: 1px dotted black; */
}

.tooltip-wrap .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #d8d8d8;
  color: #626162;
  text-align: left;
  padding: 10px 15px !important;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip-wrap-menu .tooltiptext {
  visibility: hidden;
  width: 320px;
  background-color: #2588bf;
  color: #fff;
  text-align: left;
  padding: 10px 15px !important;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip-wrap-menu-contact .tooltiptext {
  visibility: hidden;
  width: 320px;
  background-color: #2588bf;
  color: #fff;
  text-align: left;
  padding: 10px 15px !important;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip-wrap:hover .tooltiptext {
  visibility: visible;
}

.tooltip-wrap-menu:hover .tooltiptext {
  visibility: visible;
}

.tooltip-wrap-menu-contact:hover .tooltiptext {
  visibility: visible;
}

.consultation-f img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.consultation-f h3 {
  font-size: 23px;
  font-weight: 700;
}

/* .consultation-f::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid #ffffff;
  top: 10px;
  left: 15px;
} */

/* imported */

/* .padding-200 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.padding-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.padding-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.dctrs-img-1 {
  position: relative;
  height: 250px;
  width: 100%;
  background: url(../images/dctr-img-1.jpg) no-repeat top;
  background-size: cover;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: 0.5s;
}

.svc-img-1 {
  position: relative;
  height: 250px;
  width: 100%;
  background: url(../images/svc-img-1.jpg) no-repeat top;
  background-size: cover;

  border-top-right-radius: 10px;
  transition: 0.5s;
}

.dctrs-img-2 {
  position: relative;
  height: 250px;
  width: 100%;
  background: url(../images/dctr-img-2.jpg) no-repeat center;
  background-size: cover;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: 0.5s;
} */

/* .svc-img-2 {
  position: relative;
  height: 250px;
  width: 100%;
  background: url(../images/svc-img-2.jpg) no-repeat top;
  background-size: cover;

  border-top-right-radius: 10px;
  transition: 0.5s;
}

.dctrs-img-4 {
  position: relative;
  height: 250px;
  width: 100%;
  background: url(../images/dctr-img-4.jpg) no-repeat top;
  background-size: cover;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: 0.5s;
}

.dctrs-img-3 {
  position: relative;
  height: 250px;
  width: 100%;
  background: url(../images/dctr-img-3.jpg) no-repeat top;
  background-size: cover;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: 0.5s; 
}*/

/* .svc-img-3 {
  position: relative;
  height: 250px;
  width: 100%;
  background: url(../images/svc-img-3.jpg) no-repeat top;
  background-size: cover; */
/*border-bottom-right-radius: 4em;*/
/* border-top-right-radius: 10px;
  transition: 0.5s; */
/* }

.orange-clr {
  background-color: #fa824c;
}

.green-clr {
  background-color: #9fd356;
}

.blue-clr {
  background-color: #3c91e6;
}

.purple-clr {
  background-color: #7f2ccb;
}

.svc-icon {
  width: 27px;
}

.dctrs-icon-container {
  position: absolute;
  padding: 10px 10px;
  border-radius: 100px;
  bottom: -20px;
  left: -20px;
  border: 4px solid #fcfcfc;
}

.mid-section h2 {
  max-width: 700px;
  display: flex;
}

.svc-icon-container {
  position: absolute;
  padding: 10px 10px;
  border-radius: 100px;
  top: -20px;
  left: -20px;
  border: 4px solid #fcfcfc;
}

.svc-section {
  background-color: #fcfcfc;
}

.curve-svg {
  position: absolute;
  width: 100px;
  bottom: 0;
  right: 0;
}

.dctrs-content {
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.svc-content {
  background-color: #fff;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px;
  min-height: 13em;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dctrs-container {
  border-radius: 10px;
}

.svc-container {
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05) !important;
  transition: 0.5s;
}

.dctrs-container {
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05) !important;
  transition: 0.5s;
}

.svc-container:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.dctrs-container:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.mid-section {
  background: linear-gradient(rgba(46, 135, 191, 0.8), rgba(46, 135, 191, 0.8)),
    url(../images/mid-section-bg.jpg) no-repeat center;
}

.paw-icon {
  width: 50px;
  margin-bottom: 20px;
}

.svc-content p {
  font-size: 14px;
}

.dctrs-content p {
  font-size: 14px;
}

a:hover {
  text-decoration: none;
}

.svc-container a {
  font-family: "Oswald", sans-serif;
}

.dctrs-container a {
  font-family: "Oswald", sans-serif;
}

a {
  color: #2588bf;
}

.btn-global {
  background-color: #2588bf !important;
  font-family: "Oswald", sans-serif;
  padding: 15px 40px !important;
  position: relative;
  overflow: hidden !important;
  border-color: #2588bf !important;
  text-transform: uppercase;
  border-radius: 5px !important;
}

.btn-global:hover {
  color: #2588bf !important;
}

.dctrs-icon-container {
  transition: 0.3s;
}

.svc-icon-container {
  transition: 0.3s;
}

.dctrs-container:hover .dctrs-icon-container {
  background-color: #303030;
}

.svc-container:hover .svc-icon-container {
  background-color: #303030;
} */

/* .review-section h2 {
  padding-left: 60px;
} */

/* .carousel-indicators {
  bottom: -5em;
}

@media (max-width: 767px) {
  .review-section {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .dctrs-container {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .svc-container {
    margin-top: 50px;
  }
}

.sub-heading {
  max-width: 700px;
  margin: 0 auto;
}

.paw-black {
  width: 50px;
}

.svc-container:hover .svc-img-1 {
  filter: grayscale(1);
}

.svc-container:hover .svc-img-2 {
  filter: grayscale(1);
}

.svc-container:hover .svc-img-3 {
  filter: grayscale(1);
}

.dctrs-container:hover .dctrs-img-1 {
  filter: grayscale(1);
}

.dctrs-container:hover .dctrs-img-2 {
  filter: grayscale(1);
}

.dctrs-container:hover .dctrs-img-3 {
  filter: grayscale(1);
}

.dctrs-container:hover .dctrs-img-4 {
  filter: grayscale(1);
} */

/* .contact-clean {
  background: linear-gradient(rgba(46, 135, 191, 0.8), rgba(46, 135, 191, 0.8)),
    url(../images/contact-bg.jpg) no-repeat center;
  background-size: cover;
}

@media (max-width: 767px) {
  .contact-clean {
    padding: 20px 0;
  }
}

.contact-clean form {
  max-width: 480px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
  .contact-clean form {
    padding: 30px;
  }
}

.contact-clean h2 {
  margin-top: 5px;
  font-weight: bold;
  margin-bottom: 36px;
}

.contact-clean .form-group:last-child {
  margin-bottom: 5px;
}

.contact-clean form .form-control {
  background: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  outline: none;
  color: inherit;
  padding-left: 12px;
  height: 42px;
  font-family: "Oswald", sans-serif;
}

.contact-clean form .form-control:focus {
  border: 1px solid #b2b2b2;
}

.contact-clean form textarea.form-control {
  min-height: 100px;
  max-height: 260px;
  padding-top: 10px;
  resize: vertical;
}

.review-pp {
  width: 50px;
  border-radius: 50px;
} */

/* .swiper-button-prev {
  content: url(../images/caret_left.png);
  z-index: 2;
  height: unset !important;
}
.swiper-button-next {
  content: url(../images/caret_right.png);
  z-index: 2;
  height: unset !important;
} */

/* .swiper-pagination-bullet {
  width: 30px !important;
  height: 3px !important;
  border-radius: 0 !important;
  background: #fff;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff !important;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background: none !important;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background: none !important;
} */

@media (min-width: 576px) {
}

@media (max-width: 767px) {
  .burger-wrap {
    display: block;
    position: absolute !important;
    top: 0px;
    left: -24px;
  }

  li.list-inline-item {
    width: 100%;
    margin-top: 5px;
  }

  li.list-inline-item.mr-5.tooltip-wrap {
    display: none;
  }

  li.list-inline-item.search-wrap {
    display: none;
  }

  li.list-inline-item {
    padding-right: 5px !important;
  }

  h2.bm-burger-button.float-left.ml-2 {
    transform: scale(1);
  }

  .consultation-f {
    position: relative;
    background: #0077b3;
    /*padding: 20px 30px !important;*/
  }

  .dog-acl {
    margin-top: 40px;
  }

  .review-f {
    position: relative;
    background-color: #fff !important;
    padding: 20px 30px !important;
  }

  .sub-footer {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 10px;
  }

  .btn-footer {
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
  }
}

.hero-wrap {
  /*padding-top: 5em;*/
  padding-top: 250px;
  padding-bottom: 10em;
  overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .hero-wrap {
    padding-bottom: 2em;
    padding-top: 22em !important;
  }
}

@media (min-width: 1024px) {
  .hero-wrap {
    padding-bottom: 1em;
  }
}

@media (max-width: 1024px) {
  .header .header-phone {
    font-size: 14px;
  }

  .hip .inner-page-title {
    width: 30%;
    right: 5%;
  }

  .costoftplo-container {
    background-image: none !important;
  }

  .costoftplo {
    display: block !important;
  }

  .thr-hero .inner-page-title {
    left: 49%;
  }
}

/*inner page hero*/
.innerpage-hero-wrap {
  padding-top: 250px;
  padding-bottom: 1.5em;
  overflow: hidden;
}

.acl-container .tel-cta {
  background: none !important;
  color: #333 !important;
  font-weight: 400 !important;
  padding: 0 !important;
}

.acl-container .tel-cta:hover {
  text-decoration: none;
  border: none;
  color: #1588bf !important;
}

.costoftplo {
  display: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .innerpage-hero-wrap {
    padding-bottom: 2em;
    padding-top: 22em !important;
  }
}

.dropdown .btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #0077b3;
  background-color: transparent !important;
  border-color: transparent !important;
}

.dropdown .btn-primary:hover {
  color: #0077b3 !important;
  background: none;
  border: none;
  font-weight: 100;
}

.dropdown #sidemenu-toggle {
  color: #fff !important;
}

.consult-img-cont {
  border-radius: 100%;
  border: 2px solid #ffffff;
  padding: 10px 13px 10px 5px;
}

.footer-btn-row {
  padding: 10px;
}

.spacer {
  padding: 5px;
}

.btn-footer {
  background-color: #8cb5d4;
  font-weight: 700;
  color: #fff;
  border: none;
  padding: 10px;
  transition: 0.3s;
}

.btn-footer:hover {
  background-color: #fff;
  color: #8cb5d4;
}

.reviews-list li {
  border-bottom: 3px solid #ccc;
  padding-bottom: 7px;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-wrap img {
  float: left;
  position: relative;
  top: 10px;
}

.p-relative {
  position: relative !important;
}

.vid-container {
  position: absolute;
  bottom: 1em;
  left: -4em;
  z-index: -1;
}

@media (max-width: 767px) {
  .vid-container {
    position: relative;
    top: 7em;
    left: 0;
    z-index: -1;
  }

  .welcome-img {
    display: none;
  }

  .welcome-img {
    position: absolute;
    left: 0;
  }

  .hip .inner-page-title {
    width: 100% !important;
  }

  .hero-adjustment .inner-page-title {
    text-align: center !important;
  }
}

.welcome-img {
  position: absolute;
  width: 22em;
  right: -15em;
  top: -3em;
  z-index: 1;
}

@media (min-width: 768px) {
  .welcome-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .welcome-mobile {
    top: 0;
  }

  .acl-tears {
    top: -6em !important;
  }

  .hip .inner-page-title {
    width: 40%;
  }

  .thr-hero .inner-page-title {
    left: 37%;
  }
}

@media (max-width: 767px) {
  .no-video {
    display: none;
  }

  .thr-hero .inner-page-title {
    left: 0;
  }

  .auxiliary-page {
    padding-top: 150px !important;
  }

  .auxiliary-page .col-md-4 {
    margin-bottom: 3rem;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  width: 150% !important;
}

.dropdown-item {
  margin: 0 !important;
  color: #fff !important;
  padding: 0.25rem 3rem !important;
}

.dropdown-item:hover {
  color: #000 !important;
}

.tooltip-menu {
  background-color: transparent !important;
  width: 24em !important;
  position: relative;
  left: -6em;
  padding-top: 10px !important;
}

.tooltip-menu ul li {
  list-style: none;
  display: inline-grid;
}

.tooltip-menu ul li a {
  padding: 10px 0px;
  color: #fff !important;
}

.tooltip-menu ul li a:hover {
  color: #7ebfe2 !important;
}

.tooltip-menu ul {
  padding: 0;
}

.tooltip-nav {
  background-color: #2588bf !important;
  padding: 20px 10px;
}

#triangle-up {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #2588bf;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#triangle-up-2 {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #d8d8d8;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

a.tooltip-menu-nav:hover .fa-caret-down {
  top: 2px;
}

.fa-caret-down {
  position: relative;
  top: -1px;
  transition: 0.3s;
}

.contact-f p {
  font-size: 16px;
  max-width: 400px;
  line-height: 22px;
}

.contact-f h3 {
  font-size: 20px;
  font-weight: 600;
}

.fa-facebook {
  padding: 6px 9px;
  background-color: #fff;
  border-radius: 100%;
  font-size: 15px !important;
}

.fa-instagram {
  padding: 6px 7px;
  background-color: #fff;
  border-radius: 100%;
  font-size: 15px !important;
}

.welcome-mobile {
  z-index: 1;
  position: absolute;
  left: 1em;
  width: 12em;
  top: 1em;
}

.tooltip-reviews img {
  width: 5em !important;
}

.phone-cta a {
  color: #0077b3 !important;
  font-size: 15px;
  font-weight: bold;
}

.phone-cta a:hover {
  color: #8cb5d4 !important;
}

.bm-burger-button {
  position: relative;
  z-index: 5;
}

.reviews-f.tooltiptext {
  left: -5em;
}

.dropdown-menu {
  background-color: #0077b3 !important;
  left: -50px !important;
  position: relative;
}

.nav-item {
  padding-top: 16px;
  color: #626162 !important;
}

/* .video-modal {
  position: absolute;
  left: -7em;
  width: 100% !important;
} */

@media (min-width: 768px) {
  section.vmodal-container {
    position: absolute;
    bottom: 5em;
    left: -9em;
  }
}

@media (max-width: 1920px) and (min-width: 1367px) {
  .welcome-img {
    top: 9em !important;
  }

  .costoftplo-container {
    background-size: 35% !important;
  }

  .hip .inner-page-title {
    width: 30%;
    right: 5%;
  }
}

.video-modal {
  width: 100%;
}

@media (max-width: 767px) {
  .video-modal {
    position: relative !important;
    top: 8em;
    left: 0 !important;
    width: 100% !important;
  }

  .phone-cta a {
    position: relative;
    top: 10px;
  }

  .star-value {
    padding: 0px 15px;
  }
}

.dropdown-toggle:after {
  position: absolute;
  top: 11px;
  right: 0;
  left: auto;
}

@media (max-width: 1198px) and (min-width: 991px) {
  .video-modal {
    position: absolute;
    left: -6em !important;
    width: 18em !important;
    bottom: -17em;
  }
}

@media (max-width: 990px) and (min-width: 768px) {
  .video-modal {
    position: absolute;
    bottom: -11em !important;
    left: -5em;
    width: 14em !important;
  }
}

.about-headline {
  padding: 3em 0 1.5em;
}

@media (max-width: 1366px) and (min-width: 1025px) {
  li.list-inline-item.phone-cta {
    position: relative;
    top: -2em;
  }

  .tooltip-wrap,
  .search-wrap {
    position: relative;
    float: left !important;
  }

  .hip .inner-page-title {
    width: 30%;
    right: 5%;
  }
}

.tplo {
  position: absolute;
  width: 14em;
  z-index: 1;
  top: 0.6em;
  left: 3em;
}

.tplo-hero .inner-page-title {
  left: 15%;
  top: 40px;
}

@media (min-width: 768px) {
  .tplo {
    display: none;
  }
}

.close-btn {
  position: absolute;
  right: -15px;
  top: -15px;
  border-radius: 100% !important;
  background-color: #0077b3 !important;
  border: none !important;
}

.close-btn:hover {
  background-color: #8cb5d4 !important;
}

.modal-body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 0.3rem;
  outline: 0;
  border: 0px;
  box-shadow: none;
  padding: 0 !important;
}

.reviews-table {
  opacity: 0.67;
}

.review-row {
  border-bottom: 3px solid #ccc;
  padding-bottom: 7px;
  margin-top: 15px;
  font-weight: 600;
  font-size: 13px;
  color: #626162;
}

img.review-stars {
  width: 5em;
}

.review-count {
  text-transform: lowercase;
}

/*for angie's list and bbb letter ratings*/
.letter-rating {
  font-size: 18px !important;
  line-height: 0;
}

/*dog head image on the hero section*/
.dog-head-img {
  position: relative;
  z-index: 1;
  margin-top: -100px;
}

@media (min-width: 320px) {
  .dog-head-img {
    margin-left: -4em;
    width: 465px;
  }
}

@media (min-width: 768px) {
  .dog-head-img {
    margin-left: -25px;
    width: 100%;
  }
}

/*inner page headlines*/
.page-content h2 {
  color: #1588bf;
  font-size: 30px;
  text-transform: none;
  margin-bottom: 50px;
}

.page-content h6 {
  color: #1588bf;
  font-size: 17px;
  text-transform: none;
  font-weight: 700;
  margin: 0;
}

/*end of inner page headlines*/

figcaption {
  font-family: "Caveat";
  font-size: 29px;
  text-align: right;
  color: #4a4a4a;
}

/*reviews*/
@media (max-width: 768px) {
  .review-stars {
    margin-top: -2px;
  }
}

@media (min-width: 768px) {
  .star-value {
    margin-top: -10px;
    margin-bottom: -7px;
    display: block;
  }
}

/*404, thank you pages*/
@media (max-width: 991px) {
  .auxiliary-page {
    padding-top: 300px;
    padding-bottom: 100px;
  }
}

@media (min-width: 992px) {
  .auxiliary-page {
    padding-top: 200px;
    padding-bottom: 100px;
  }
}

/*padding adjustment for footer content*/

.contact-f,
.reviews-f,
.consultation-f {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 992px) {
  .consultation-f {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

@media (max-width: 480px) {
  .header .header-phone {
    font-size: 17px;
  }
}

/* Benjie Media Queries */

@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .about-first-wrapper {
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }

  .about-second-wrapper {
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }

  .about-first-section {
    padding-right: 0;
    margin-bottom: 0;
  }

  .about-first-section::after {
    display: none;
  }

  .about-first-section {
    padding-bottom: 1rem;
    border-bottom: 5px solid #dedede;
  }

  .about-second-section {
    padding-left: 0;
  }

  .about-second-section h4 {
    margin-top: 4rem;
  }
}
