body a {
  color: #333333;
}
body a:hover {
  text-decoration: none;
  color: #0077b3;
}
.font-weight-bold,
strong,
.strong,
b {
  font-weight: 600 !important;
}

/* typography */
@import url("https://fonts.googleapis.com/css?family=Oswald:400|Montserrat:400");

html {
  font-size: 100%;
} /*16px*/

.container {
  width: 1280px;
}

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #333;
}

p {
  margin-bottom: 1.15rem;
  color: rgb(85, 85, 85);
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}

/* typography */

.header {
  /* position: absolute;
    top: 0; */
  /* width: 100%;
    z-index: 999; */
  padding-top: 15px;
  padding-bottom: 15px;
  /* background: rgba(185, 179, 179, 0.5); */
}
.menu-btn {
  cursor: pointer;
}
.logo {
  width: 100%;
  height: auto;
  transition: all 200ms ease-in-out;
}
.header-module--is-sticky--VkInE .logo {
  width: 400px;
}
.burger-wrap {
  display: none;
}
.search-wrap input {
  border: 0;
  border-bottom: 1px solid #d8d8d8;
  line-height: 20px;
}
.search-wrap input:focus {
  outline: none !important;
}
.header_nav ul li a {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 12px;
}

/*FOOTER*/

.consultation-f {
  position: relative;
  background: #2588bf;
  padding: 40px 60px !important;
}

.consultation-f p {
  font-size: 14px;
  line-height: 19px;
}

.reviews-f {
  padding: 40px 20px !important;
  background: #d8d8d8;
}

@media (max-width: 768px) {
  .reviews-f {
    background-color: #fff;
  }
}
.reviews-list img {
  width: 5em !important;
}

.contact-f {
  background: #d8d8d8;
  padding: 40px 20px !important;
  color: #626162 !important;
}
.sub-footer {
  background: #626162;
  padding: 30px 0;
  color: #ffffff;
  font-size: 10px;
}
.sub-footer a {
  color: #ffffff;
}
.reviews-list li {
  margin: 20px 0;
}
.reviews-list li img {
  margin-bottom: 0;
  margin-right: 15px;
}
.reviews-list li span {
  margin-left: 20px;
}
.reviews-list li:last-child img {
  width: 50px;
}

.reviews-f h3 {
  font-size: 30px;
  font-weight: 500;
}

.reviews-f span {
  font-size: 13px !important;
}

.reviews-f {
  color: #626162;
}

.contact-f p,
.contact-f a {
  color: #626162;
}

/* .star-value {
  position: absolute;
  left: 23px;
  top: -18px;
} */

.review-f-heading img {
  margin-top: -8px;
}
/*Tooltip*/
.tooltip-wrap {
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index: 10;
  /* border-bottom: 1px dotted black; */
}

.tooltip-wrap-menu {
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index: 9;
  /* border-bottom: 1px dotted black; */
}

.tooltip-wrap-menu-contact {
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index: 9;
  /* border-bottom: 1px dotted black; */
}

.tooltip-wrap .tooltiptext {
  visibility: hidden;
  width: 320px;
  background-color: #2588bf;
  color: #fff;
  text-align: left;
  padding: 10px 15px !important;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip-wrap-menu .tooltiptext {
  visibility: hidden;
  width: 320px;
  background-color: #2588bf;
  color: #fff;
  text-align: left;
  padding: 10px 15px !important;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip-wrap-menu-contact .tooltiptext {
  visibility: hidden;
  width: 320px;
  background-color: #2588bf;
  color: #fff;
  text-align: left;
  padding: 10px 15px !important;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip-wrap:hover .tooltiptext {
  visibility: visible;
}

.tooltip-wrap-menu:hover .tooltiptext {
  visibility: visible;
}

.tooltip-wrap-menu-contact:hover .tooltiptext {
  visibility: visible;
}

.consultation-f img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.consultation-f h3 {
  font-size: 23px;
  font-weight: 700;
}

/* .consultation-f::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid #ffffff;
  top: 10px;
  left: 15px;
} */

/* imported */

/* .padding-200 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.padding-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.padding-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.dctrs-img-1 {
  position: relative;
  height: 250px;
  width: 100%;
  background: url(../images/dctr-img-1.jpg) no-repeat top;
  background-size: cover;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: 0.5s;
}

.svc-img-1 {
  position: relative;
  height: 250px;
  width: 100%;
  background: url(../images/svc-img-1.jpg) no-repeat top;
  background-size: cover;

  border-top-right-radius: 10px;
  transition: 0.5s;
}

.dctrs-img-2 {
  position: relative;
  height: 250px;
  width: 100%;
  background: url(../images/dctr-img-2.jpg) no-repeat center;
  background-size: cover;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: 0.5s;
} */

/* .svc-img-2 {
  position: relative;
  height: 250px;
  width: 100%;
  background: url(../images/svc-img-2.jpg) no-repeat top;
  background-size: cover;

  border-top-right-radius: 10px;
  transition: 0.5s;
}

.dctrs-img-4 {
  position: relative;
  height: 250px;
  width: 100%;
  background: url(../images/dctr-img-4.jpg) no-repeat top;
  background-size: cover;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: 0.5s;
}

.dctrs-img-3 {
  position: relative;
  height: 250px;
  width: 100%;
  background: url(../images/dctr-img-3.jpg) no-repeat top;
  background-size: cover;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: 0.5s; 
}*/

/* .svc-img-3 {
  position: relative;
  height: 250px;
  width: 100%;
  background: url(../images/svc-img-3.jpg) no-repeat top;
  background-size: cover; */
/*border-bottom-right-radius: 4em;*/
/* border-top-right-radius: 10px;
  transition: 0.5s; */
/* }

.orange-clr {
  background-color: #fa824c;
}

.green-clr {
  background-color: #9fd356;
}

.blue-clr {
  background-color: #3c91e6;
}

.purple-clr {
  background-color: #7f2ccb;
}

.svc-icon {
  width: 27px;
}

.dctrs-icon-container {
  position: absolute;
  padding: 10px 10px;
  border-radius: 100px;
  bottom: -20px;
  left: -20px;
  border: 4px solid #fcfcfc;
}

.mid-section h2 {
  max-width: 700px;
  display: flex;
}

.svc-icon-container {
  position: absolute;
  padding: 10px 10px;
  border-radius: 100px;
  top: -20px;
  left: -20px;
  border: 4px solid #fcfcfc;
}

.svc-section {
  background-color: #fcfcfc;
}

.curve-svg {
  position: absolute;
  width: 100px;
  bottom: 0;
  right: 0;
}

.dctrs-content {
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.svc-content {
  background-color: #fff;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px;
  min-height: 13em;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dctrs-container {
  border-radius: 10px;
}

.svc-container {
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05) !important;
  transition: 0.5s;
}

.dctrs-container {
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05) !important;
  transition: 0.5s;
}

.svc-container:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.dctrs-container:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.mid-section {
  background: linear-gradient(rgba(46, 135, 191, 0.8), rgba(46, 135, 191, 0.8)),
    url(../images/mid-section-bg.jpg) no-repeat center;
}

.paw-icon {
  width: 50px;
  margin-bottom: 20px;
}

.svc-content p {
  font-size: 14px;
}

.dctrs-content p {
  font-size: 14px;
}

a:hover {
  text-decoration: none;
}

.svc-container a {
  font-family: "Oswald", sans-serif;
}

.dctrs-container a {
  font-family: "Oswald", sans-serif;
}

a {
  color: #2588bf;
}

.btn-global {
  background-color: #2588bf !important;
  font-family: "Oswald", sans-serif;
  padding: 15px 40px !important;
  position: relative;
  overflow: hidden !important;
  border-color: #2588bf !important;
  text-transform: uppercase;
  border-radius: 5px !important;
}

.btn-global:hover {
  color: #2588bf !important;
}

.dctrs-icon-container {
  transition: 0.3s;
}

.svc-icon-container {
  transition: 0.3s;
}

.dctrs-container:hover .dctrs-icon-container {
  background-color: #303030;
}

.svc-container:hover .svc-icon-container {
  background-color: #303030;
} */

/* .review-section h2 {
  padding-left: 60px;
} */

/* .carousel-indicators {
  bottom: -5em;
}

@media (max-width: 767px) {
  .review-section {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .dctrs-container {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .svc-container {
    margin-top: 50px;
  }
}

.sub-heading {
  max-width: 700px;
  margin: 0 auto;
}

.paw-black {
  width: 50px;
}

.svc-container:hover .svc-img-1 {
  filter: grayscale(1);
}

.svc-container:hover .svc-img-2 {
  filter: grayscale(1);
}

.svc-container:hover .svc-img-3 {
  filter: grayscale(1);
}

.dctrs-container:hover .dctrs-img-1 {
  filter: grayscale(1);
}

.dctrs-container:hover .dctrs-img-2 {
  filter: grayscale(1);
}

.dctrs-container:hover .dctrs-img-3 {
  filter: grayscale(1);
}

.dctrs-container:hover .dctrs-img-4 {
  filter: grayscale(1);
} */

/* .contact-clean {
  background: linear-gradient(rgba(46, 135, 191, 0.8), rgba(46, 135, 191, 0.8)),
    url(../images/contact-bg.jpg) no-repeat center;
  background-size: cover;
}

@media (max-width: 767px) {
  .contact-clean {
    padding: 20px 0;
  }
}

.contact-clean form {
  max-width: 480px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
  .contact-clean form {
    padding: 30px;
  }
}

.contact-clean h2 {
  margin-top: 5px;
  font-weight: bold;
  margin-bottom: 36px;
}

.contact-clean .form-group:last-child {
  margin-bottom: 5px;
}

.contact-clean form .form-control {
  background: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  outline: none;
  color: inherit;
  padding-left: 12px;
  height: 42px;
  font-family: "Oswald", sans-serif;
}

.contact-clean form .form-control:focus {
  border: 1px solid #b2b2b2;
}

.contact-clean form textarea.form-control {
  min-height: 100px;
  max-height: 260px;
  padding-top: 10px;
  resize: vertical;
}

.review-pp {
  width: 50px;
  border-radius: 50px;
} */

/* .swiper-button-prev {
  content: url(../images/caret_left.png);
  z-index: 2;
  height: unset !important;
}
.swiper-button-next {
  content: url(../images/caret_right.png);
  z-index: 2;
  height: unset !important;
} */

/* .swiper-pagination-bullet {
  width: 30px !important;
  height: 3px !important;
  border-radius: 0 !important;
  background: #fff;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff !important;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background: none !important;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background: none !important;
} */

@media (max-width: 767px) {
  .burger-wrap {
    display: block;
    position: absolute !important;
    top: 0px;
    left: -24px;
  }
  .header_nav {
    display: none;
  }

  li.list-inline-item {
    width: 100%;
    margin-top: 5px;
  }

  li.list-inline-item.mr-5.tooltip-wrap {
    display: none;
  }
  li.list-inline-item.search-wrap {
    display: none;
  }
  li.list-inline-item {
    padding-right: 47px !important;
  }
  h2.bm-burger-button.float-left.ml-2 {
    transform: scale(1);
  }

  .header {
    padding: 25px 0 5px;
  }

  .consultation-f {
    position: relative;
    background: #0077b3;
    padding: 20px 15px !important;
  }

  .review-f {
    position: relative;
    background-color: #fff !important;
    padding: 20px 15px !important;
  }

  .sub-footer {
    padding: 40px 0 75px;
    font-size: 10px;
  }

  .btn-footer {
    font-size: 14px;
    line-height: 15px;
  }

  .hero-wrap {
    padding-bottom: 11.5em !important;
  }
}

.hero-wrap {
  padding: 5em 0;
}

.dropdown .btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #0077b3;
  background-color: transparent !important;
  border-color: transparent !important;
}

.dropdown .btn-primary:hover {
  color: #0077b3 !important;
  background: none;
  border: none;
  font-weight: 100;
}

.dropdown #sidemenu-toggle {
  color: #fff !important;
}

.consult-img-cont {
  border-radius: 100%;
  border: 2px solid #ffffff;
  padding: 10px 13px 10px 5px;
}

.footer-btn-row {
  padding: 10px;
}

.spacer {
  padding: 5px;
}

.btn-footer {
  background-color: #8cb5d4;
  color: #fff;
  border: none;
  padding: 5px;
  transition: 0.3s;
}

.btn-footer:hover {
  background-color: #fff;
  color: #8cb5d4;
}

.reviews-list li {
  border-bottom: 3px solid #ccc;
  padding-bottom: 7px;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1920px) {
  .header-row {
    padding-top: 4em !important;
    transition: 0.3s;
  }

  .header-module--is-sticky--VkInE .header-row {
    padding-top: 0.5em !important;
  }
}

.p-relative {
  position: relative !important;
}

.vid-container {
  position: absolute;
  bottom: 1em;
  left: -4em;
  z-index: -1;
}

@media (max-width: 767px) {
  .vid-container {
    position: relative;
    top: 7em;
    left: 0;
    z-index: -1;
  }

  .welcome-img {
    display: none;
  }
}

.dog-head-img {
  position: relative;
  z-index: 1;
}

.welcome-img {
  position: absolute;
  width: 20em;
  right: -11em;
  z-index: 1;
}

@media (min-width: 768px) {
  .welcome-mobile {
    display: none;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  width: 150% !important;
}

.dropdown-item {
  margin: 0 !important;
  color: #fff !important;
}

.dropdown-item:hover {
  color: #000 !important;
}

.tooltip-menu {
  background-color: transparent !important;
  width: 18em !important;
  position: relative;
  left: -6em;
  padding-top: 10px !important;
}

.tooltip-menu ul li {
  list-style: none;
  display: inline-grid;
}

.tooltip-menu ul li a {
  padding: 10px 0px;
  color: #fff !important;
}

.tooltip-menu ul li a:hover {
  color: #7ebfe2 !important;
}

.tooltip-menu ul {
  padding: 0;
}

.tooltip-nav {
  background-color: #2588bf !important;
  padding: 20px 10px;
}

#triangle-up {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #2588bf;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#triangle-up-2 {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #2588bf;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

a.tooltip-menu-nav:hover .fa-caret-down {
  top: 2px;
}

.fa-caret-down {
  position: relative;
  top: -1px;
  transition: 0.3s;
}

.contact-f p {
  font-size: 16px;
  max-width: 400px;
}

.contact-f h3 {
  font-size: 20px;
  font-weight: 500;
}

.fa-facebook {
  padding: 11px 15px;
  background-color: #fff;
  border-radius: 100%;
  font-size: 15px !important;
}

.fa-instagram {
  padding: 11px 13px;
  background-color: #fff;
  border-radius: 100%;
  font-size: 15px !important;
}

.welcome-mobile {
  z-index: 1;
  position: absolute;
  left: 0;
  top: -1em;
}

.tooltip-reviews img {
  width: 5em !important;
}

.phone-cta a {
  color: #0077b3 !important;
}

.phone-cta a:hover {
  color: #8cb5d4 !important;
}

.bm-burger-button {
  position: relative;
  z-index: 5;
}

.reviews-f.tooltiptext {
  left: -5em;
}

.dropdown-menu {
  background-color: #0077b3 !important;
  left: -50px !important;
  position: relative;
}

.nav-item {
  padding-top: 16px;
  color: #626162 !important;
}

.video-modal {
  position: absolute;
  bottom: -21em;
  left: -7em;
  width: 26em !important;
}

@media (max-width: 767px) {
  .video-modal {
    position: relative !important;
    top: 9em;
    left: 0 !important;
    width: 100% !important;
  }
}

.dropdown-toggle:after {
  position: absolute;
  top: 11px;
  right: 0;
  left: auto;
}

@media (max-width: 1198px) and (min-width: 991px) {
  .video-modal {
    position: absolute;
    left: -6em !important;
    width: 18em !important;
    bottom: -17em;
  }
}

@media (max-width: 990px) and (min-width: 768px) {
  .video-modal {
    position: absolute;
    bottom: -11em !important;
    left: -5em;
    width: 14em !important;
  }
}

@media (max-width: 768px) {
  .welcome-img {
    width: 15em;
    right: -8em;
  }
}

.about-headline {
  padding: 5em 0;
}

.tplo {
  position: absolute;
  width: 14em;
  z-index: 1;
  top: -2em;
  left: 3em;
}

@media (min-width: 768px) {
  .tplo {
    display: none;
  }
}

.close-btn {
  position: absolute;
  right: -15px;
  top: -15px;
  border-radius: 100%;
  background-color: #0077b3 !important;
  border: none !important;
}

.close-btn:hover {
  background-color: #8cb5d4 !important;
}
